* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* border: 1px dotted black; */
}

header h1 {
   text-align: center;
   padding: 5%;
}

#playerChoices {
   display: flex;
   justify-content: space-between;
}

.btn {
   min-width: 75px;
   height: 75px;
   margin: 5%;
   border-radius: 100%;
}

#results {
   text-align: center;
   border: 1px solid black;
   margin: 5%;
   padding: 5%;
}

#resultsHeader {
   text-align: center;
   padding: 5%;
}

.sepDiv {
   padding: 1%;
}