* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* border: 1px dotted black; */
}

body {
  max-height: 80px;
}

header h1 {
  text-align: center;
  padding: 1%;
}

#player-choices {
  display: flex;
  justify-content: space-between;
}

.btn {
  min-width: 75px;
  height: 75px;
  margin: 2%;
  border-radius: 100%;
}

#results {
  text-align: center;
  border: 1px solid black;
  margin: 2%;
  padding: 5%;
  min-height: 260px;
}

#results-header {
  text-align: center;
  padding: 5%;
}

.sepDiv {
  padding: 1%;
}
